<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Default">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="Default" name="EvalServiceLibrary.EvalService">
                <endpoint address="basicHttpBinding" binding="basicHttpBinding"
                    bindingConfiguration="" name="MybasicHttpBinding" contract="EvalServiceLibrary.IEvalService" />
                <endpoint address="netHttpBinding" binding="netHttpBinding" bindingConfiguration=""
                    name="MynetHttpBinding" contract="EvalServiceLibrary.IEvalService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8989/service" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>